/*FORMATTED FOR WIDE SCREEN VIEW*/

.calendarDays{
 background-color:#3E5C76;
 color: white;
 padding: 15px 20px 15px 20px;
}

.calendarHeading{
    background-color: #1D2D44;
    height:120px;
    padding: 10px 70px 10px 70px;
    width: 100%;
    left:10%;
    top:55%;
    position:flex;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.leftArrow{
    color:white;
    width:60px;
    left: auto;
    top:525px;
    position: absolute;

}

.rightArrow{
    color:white;
    width:60px;
    right:auto;
    margin-left: 1080px;
    top:525px;
    position: absolute;
}

.monthTitle{
    color: white;
    font-size: 3em;
    position: flex;
    text-align:center;
    top:60%;

}

.currentDateTitle{
    color: white;
    font-size: 1em;
    text-align:center;
    top:69%;

}


.tableMain{
      width: 100%;
      left:10%;
      top:70%;
      position:flex;
}

.calendarAddition{
    top:40%;
    left:0;
    width:100%;
    position:flex;
}

.nextPreviousMonthDays{
    background-color: #cbd5e0;
    height: 140px;
    width:10%;
    vertical-align: top;
    text-align: left;
    border: 1px solid white;
    font-weight: bold;
}

.currentMonthDays{
    background-color: #FEFCFD;
    width: 10%;
    height: 140px;
    vertical-align: top;
    text-align: left;
    border: 1px solid white;
    font-weight: bold;
}

.dropDownBox{
    background-color: #1D2D44;
    color: white;
    font-weight: bold;
    height:70px;
    width:200px;
    border-radius: 25px;
    text-align-last: center;

}

/*FORMATTED FOR WIDE SCREEN VIEW*/
@media(max-width: 1300px){


.calendarHeading{
    background-color: #1D2D44;
    height:120px;
    padding: 10px 70px 10px 70px;
    width: 100%;
    left:0;
    right:0;
    top:55%;
    position:flex;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.tableMain{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    left:1%;
    top:75%;
    position:flex;
}

.leftArrow{
    color:white;
    width:60px;
    left:10%;
    top:500px;
    position: absolute;

}

.rightArrow{
    color:white;
    width:60px;
    right:10%;
    top:500px;
    position: absolute;
}

.nextPreviousMonthDays{
    background-color: #cbd5e0;
    height: 120px;
    width: 200px;
    vertical-align: top;
    text-align: left;
    border: 1px solid white;
    font-weight: bold;

}

.currentMonthDays{
    background-color: #FEFCFD;
    width: 200px;
    height: 120px;
    vertical-align: top;
    text-align: left;
    border: 1px solid white;
    font-weight: bold;
}


}